@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-background- : #00030C;
    --cor-texto-principal- : #FFFFFF;
    --cor-texto-secundario- : #F9F9F9;
}

body {
    background-color: var(--cor-background-);
}

.conteudo-principal-pt1 {
    width: 100%;
    background-image: url(./img/Background.png);
    background-size: cover;
}

.conteudo-principal-pt1-caixa-conteudo {
    width: 37%;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.conteudo-principal-pt1-titulo {
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-texto-principal-);
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.conteudo-principal-pt1-img-combo {
    width: 70%;
}


.conteudo-principal-pt1-link-1 {
    font-family: "Inter", sans-serif;
    color: var(--cor-texto-principal-);
    font-size: 1rem;
    text-decoration: none;
    background-color: #167bf7;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    padding: 3.5% 10%;
}

.conteudo-principal-pt1-link-2 {
    font-family: "Inter", sans-serif;
    color: var(--cor-texto-principal-);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #FFFFFF;
    width: 80%;
    text-align: center;
    padding: 3.5% 10%;
}

.conteudo-principal-pt1-texto {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    color: #C0C0C0;
    font-weight: 200;
}

.conteudo-principal-pt2 {
    background-color: var(--cor-background-);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo-principal-pt2-img-plataformas {
    width: 35%;
}

.conteudo-principal-pt2-caixa-texto {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
}

.conteudo-principal-pt2-titulo {
    font-family: "Inter", sans-serif;
    color: var(--cor-texto-principal-);
    font-weight: bold;
    font-size: 3rem;
}

.conteudo-principal-pt2-texto {
    font-family: "Inter", sans-serif;
    color: var(--cor-texto-secundario-);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 100;
}

.conteudo-principal-pt3 {
    background-color: var(--cor-background-);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 0%;
}

.conteudo-principal-pt3-escrito {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0% 5%;
}

.conteudo-principal-pt3-texto {
    font-family: "Inter", sans-serif;
    color: var(--cor-texto-secundario-);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 200;
}

.conteudo-principal-pt3-img-telas {
    width: 35%;
}

.conteudo-principal-pt3-link {
    color: var(--cor-texto-principal-);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 4% 1%;
    background-color: #167bf7;
    width: 30%;
    text-align: center;
    margin-top: 3%;
    border-radius: 5px;
}