@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.conteudo-principal-pt1 {
    width: 100%;
    background-image: url(./img/Background.png);
    background-size: cover;
}

.conteudo-principal-pt1-caixa-conteudo {
    width: 37%;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.conteudo-principal-pt1-titulo {
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.conteudo-principal-pt1-img-combo {
    width: 70%;
}


.conteudo-principal-pt1-link-1 {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    background-color: #167bf7;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    padding: 3.5% 10%;
}

.conteudo-principal-pt1-link-2 {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #FFFFFF;
    width: 80%;
    text-align: center;
    padding: 3.5% 10%;
}

.conteudo-principal-pt1-texto {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    color: #C0C0C0;
    font-weight: 200;
}

.conteudo-principal-pt2 {
    background-color: #00030C;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo-principal-pt2-img-plataformas {
    width: 35%;
}

.conteudo-principal-pt2-caixa-texto {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
}

.conteudo-principal-pt2-titulo {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
}

.conteudo-principal-pt2-texto {
    font-family: "Inter", sans-serif;
    color: #f9f9f9;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 100;
}